[submodule "frontend"]
	path = frontend
	url = https://github.com/monika-kh/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/monika-kh/backend.git
[submodule "emp-management-react-frontend"]
	path = emp-management-react-frontend
	url = https://github.com/monika-kh/emp-management-react-frontend.git
